<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepagestyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <title>Jam Session: Home</title>
</head>

<body>
	<div class="container">
        <div class="logo">
		<h1>Jam Session</h1></div>
		<p id="user-welcome">Welcome, {{username}}!</p>
		<button class = "logout-btn"id="logout">Log Out</button>
	</div>

    {{!--  --}}
    {{#each playlists as |playlist|}}
    {{> playlist-grid-item}}
    {{/each}}
	
</body>

<script src="/logout.js"></script>
</html>