<head>
  <meta charset="UTF-8">
  <title>Jam Session: Home</title>
  <link rel="stylesheet" href="/css/homepagestyle.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>JamSession</h1>
      <h3>Welcome, {{user}}!</h3>
    </header>
     
  </div>
  </body>

</html>