<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/introstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <title>Jam Session</title>
</head>

<body>

    <div class="full-screen-video-container">
        <video autoplay loop muted>
            <source src="/player2.mov">
        </video>
        <div class="text">
            <h4>Welcome to</h4>
            <h1>Jam Session</h1>
        </div>
        <a href="/login">
            <div class="btn btn-1">
                <button class="side default-side">Already have an account?</button>
                <button class="side hover-side">Log In</button>
            </div>
        </a>
        <a href="/login/#2">
            <div class="btn btn-2">
                <button class="side default-side">New to Jam Session?</button>
                <button class="side hover-side">Sign Up</button>
            </div>
        </a>
    </div>
    <main class="">
        {{{ body }}}
    </main>
</body>


</html>