body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #43245c, #b66aeb, #7484e7, #24396c);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    position: fixed;
    margin-bottom: 10%;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    padding-left: 50px;
    text-shadow: 1px 1px #0d050f;
    color: #c81ce3;
    opacity: 70%;
}

#user-welcome {
    font-size: 20px;
    color: #c81ce3b0;
    font-family: 'Monda', sans-serif;
    text-shadow: .5px .5px #43245c;
    align-content: center;
}

.username {
    font-family: 'Staatliches', cursive;
    color: #5fe4fbda;
    font-size: 30px;
}

.logout-btn,
.profile-btn {
    font-family: 'Monda', sans-serif;
    /* background-color: #243a6ca0; */
    background-color: #d588e13e;
    padding: 0px 15px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    /* color: #5fe4fbc6; */
    color: #fff;
    
    
}

.logout-btn {
    margin-right: 50px;
    margin-left: -150px;
}

button:active {
    background: #7484e7;
    -webkit-box-shadow: inset 0px 0px 5px #b66aeb;
    -moz-box-shadow: inset 0px 0px 5px #b66aeb;
    box-shadow: inset 0px 0px 5px #b66aeb;
    outline: none;
    color: azure;
}

button:hover {
    background-color: #5fe4fbda;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-right: 12%;
    margin-left: 30%;
    margin-top: 15%;
}


.playlist-grid-item {
    padding: 20px;
    text-align: center;
    width: 250px;
    background-color: #5fe4fb4a;
    transition: background-color 0.5s ease;
}

.playlist-grid-item:hover {
    background-color: #0e23278a;
}


.playlist-grid-item img {
    max-width: 100%;
}




.containerAside {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

aside {
    padding: 10px 20px;
    background-color: #a03eb954;
    max-width: 20vw;
    color: #fff;
    margin: 5% 60px 0 30px;
    height: 1000px;
    margin-top: 0%;
    position: fixed;
    margin-top: 15%;

}

.sep-font {
    font-family: 'Staatliches', cursive;
    color: #5fe4fbc6;
    font-size: 40px;
}

.playlist-stats {
    display: flex;
    justify-content: space-around;
}

.likes,
.comments {
    display: flex;
    align-items: center;
}

.likes button,
.comments button {
    background-color: #c81ce374;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}

i {
    height: 20px;
    width: 20px;
    color: rgba(95, 228, 251, 0.971)6;
    padding-top: 5px;
}

.num-likes {
    padding-left: 10px;
}

.play-name {
    color: #24396c;

    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
}


.play-name:hover {
    color: white;
}

.play-name:active {
    color: #5fe4fb;
}

.play-name:after {

    color: #24396c;

}

a {
    text-decoration: none;
}
.comment-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(to left, #d8bbec, #bbc0e4);
    box-shadow: 0 0 20px #43245c;
    color: #24396c;
    z-index: 9999;
}

.comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    font-size: 22px;
    text-shadow: 1px 1px #0d050f;
    color: #c81ce3;
    opacity: 70%;
}

.comments-list {
    overflow-y: scroll;
}

.comment-popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;

}