html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to left, #43245c, #b66aeb , #7484e7 , #24396c);
    
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 100px;
    color: #c81ce3;
    opacity: 70%;
    text-shadow: 3px 2px #0d050f;
margin-left: 40%;
    }

    .btn {
        position: relative;
        height: 30px;
        width: 60px;
        margin-left: 15%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-family: 'Monda', sans-serif;
        background-color: #c81ce3;
        opacity: 70%;
        margin-top: 10px;
    }
    
    button:active {
        background: #7484e7;
        -webkit-box-shadow: inset 0px 0px 5px #b66aeb;
           -moz-box-shadow: inset 0px 0px 5px #b66aeb;
                box-shadow: inset 0px 0px 5px #b66aeb;
         outline: none;
        
      }
    
   .signuparea {
    margin-top: 600px;
   }

#loginform {
    margin-left: 40%;
    background-color: #5fe4fb;
    opacity: 50%;
    height: 200px;
    width: 200px;
}

#signupform {
    margin-left: 0%;
    margin-bottom: 300px;
    background-color: #5fe4fb;
    align-items: center;
}

h2 {
    align-items: center;
}