html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #43245c, #b66aeb, #7484e7, #24396c);

}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 100px;
    color: #c81ce3;
    opacity: 70%;
    text-shadow: 3px 2px #0d050f;
    text-align: center;
}

.btn {
    font-family: 'Monda', sans-serif;
    background-color: #243a6ca0;
    font-size: 20px;
    border: none;
    color: #5fe4fbc6;
    margin-top: 5px;
}

.btn:active {
    background: #7484e7;
    outline: none;
    color: azure;
}

.lbtn:hover {
    background-color: #5fe4fbf8;
    color: azure;
}


.loginform {
    margin-left: 45%;
    background-color: #5fe4fb7b;
    height: 200px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

#signupform {
    margin-top: 900px;
    margin-bottom: 100px;
    margin-left: 45%;
    background-color: #5fe4fb7b;
    height: 250px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

label,
h2 {
    color: #24396c;
}