body {
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #43245c, #b66aeb, #7484e7, #24396c);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

h1 {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    padding-left: 50px;
    text-shadow: 1px 1px #0d050f;
    color: #c81ce3;
    opacity: 70%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.logo {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    padding-left: 30px;
    text-shadow: 1px 1px #0d050f;
    color: #c81ce3;
    opacity: 70%;

}


a {
    text-decoration: none;
}

h1:hover {
    color: #a03eb9d1;
    text-decoration: none;
}

h1:hover:after {
    content: "Jam Session Homepage";
    position: absolute;
    top: 0;
    left: 100%;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    text-decoration: none;
}

#user-welcome {
    font-size: 20px;
    color: #c81ce3b0;
    font-family: 'Monda', sans-serif;
    text-shadow: .5px .5px #43245c;
}

.username {
    font-family: 'Staatliches', cursive;
    color: #5fe4fbda;
    font-size: 30px;
}

.logout-btn {
    font-family: 'Monda', sans-serif;
    /* background-color: #243a6ca0; */
    background-color: #d588e13e;
    padding: 0px 15px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    /* color: #5fe4fbc6; */
    color: #fff;
    margin-right: 50px;
}

.logout-btn:active {
    background: #7484e7;
    outline: none;
    color: azure;
}

.logout-btn:hover {
    background-color: #5fe4fbda;
}

#profile-picture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-right: 12%;
    margin-left: 30%;
    margin-top: 15%;
}

.playlist-grid-item {
    padding: 20px;
    text-align: center;
    width: 250px;
    background-color: #5fe4fb4a;
    transition: background-color 0.5s ease;
}

.playlist-grid-item:hover {
    background-color: #0e23278a;
}


.playlist-grid-item img {
    max-width: 100%;
}

.playlist-grid-item h3 {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
}


.side-container {
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
}

aside {
    padding: 10px 20px;
    background-color: #a03eb954;
    max-width: 22vw;
    color: #fff;
    margin: 15% 60px 20px 30px;
    max-height: calc(100vh - 20%);
    position: fixed;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    justify-content: center;

}

aside::-webkit-scrollbar {
    width: 8px;
}

aside::-webkit-scrollbar-track {
    background: #f1f1f1;
}

aside::-webkit-scrollbar-thumb {
    background-color: #43245c;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.sep-font {
    font-family: 'Staatliches', cursive;
    color: #5fe4fbc6;
    font-size: 28px;
}

.sep-font2 {
    font-family: 'Monda', sans-serif;
    color: #5fe4fbc6;
    font-size: 18px;
}


.playlist-stats {
    display: flex;
    justify-content: space-around;
}

.likes,
.comments {
    display: flex;
    align-items: center;
}

.likes button,
.comments button {
    background-color: #c81ce374;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
}

i {
    height: 20px;
    width: 20px;
    color: rgba(95, 228, 251, 0.971)6;
    padding-top: 5px;
}

.num-likes {
    padding-left: 10px;
}

.spotify-btn {
    height: 60px;
    width: 140px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
    transform: translateZ(-75px);
    margin-left: 20px;

}

.spotify-btn:active {
    background: #7484e7;
    -webkit-box-shadow: inset 0px 0px 5px #b66aeb;
    -moz-box-shadow: inset 0px 0px 5px #b66aeb;
    box-shadow: inset 0px 0px 5px #b66aeb;
    outline: none;
    color: azure;
}

.spotify-btn:hover {
    transform: rotateX(-90deg) translateY(25px);
    cursor: pointer;
    height: 60px;
    width: 140px;
}


.side {
    justify-content: center;
    align-items: center;
    font-family: 'Monda', sans-serif;
    backface-visibility: hidden;

}

.default-side {
    background-color: #c81ce3;
    opacity: 50%;
    border: 1px solid #43245c;
    transform: translateZ(25px);
    font-size: 18px;
}

.hover-side {
    background-color: #5fe4fb;
    opacity: 50%;
    border: 1px solid #24396c;
    transform: rotateX(90deg) translateZ(25px);
    font-size: 22px;
}

.play-name {
    color: #24396c;
}

.play-name:hover {
    color: white;
}

.play-name:active {
    color: #5fe4fb;
}

.play-name:after {
    color: #24396c
}

.comment-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(to left, #d8bbec, #bbc0e4);
    box-shadow: 0 0 20px #43245c;
    color: #24396c;
    z-index: 9999;
}

.comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    font-size: 22px;
    text-shadow: 1px 1px #0d050f;
    color: #c81ce3;
    opacity: 70%;
}

.comments-list {
    overflow-y: scroll;
}

.comment-popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;

}