<head>
  <meta charset="UTF-8">
  <title>Jam Session</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>JamSession</h1>
    </header>
      <main class="">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>