<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="videocss.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Jam Session</title>
</head>

<body>

    <div class="full-screen-video-container">
        <video autoplay loop muted>
            <source src="..public/player2.mov">
        </video>
        <div class="text">
            <h4>Welcome to</h4>
            <h1>Jam Session</h1>
        </div>
        <div class="buttons">
            <button id="login-button">Log In</button>
            <button id="signup-button">Sign Up</button>
        </div>
    </div>
</body>

</html>